/**
  All styles associated with our customized tooltip. It's called
  notion because it's the best name I could come up with that didn't
  conflict with Bootstrap's current "tooltip" styles / JS
**/

@tag_height: 12px;

.top_notion_tag_base(@border_color){
  content: "";
  position:absolute;
  //top:(@tag_height * 2) * -1;
  //right:25px;
  width:1px;
  height:1px;
  border:transparent solid @tag_height;
  border-bottom-color:@border_color;
}

.bottom_notion_tag_base(@border_color) {
  .top_notion_tag_base(@border_color);
  border-bottom-color: transparent;
  border-top-color:@border_color;
}

#notion {
  position: absolute;
  visibility: hidden;
  top:0;
  left:0;
  width: 300px;
  height: auto;
  padding:15px;
  background:@gray-light6;
  border:@gray-light4 solid 1px;
  font-size:12px;
  z-index:100;

  //&:before {
  //  .notion_tag_base(@gray-light4);
  //  z-index: 101;
  //  top: ((@tag_height * 2) * -1) - 1;
  //}
  //
  //&:after {
  //  .notion_tag_base(@gray-light6);
  //  z-index: 102;
  //}


  &.top-center {
    @tag_offset: (@tag_height * 2) * -1;

    &:before {
      .bottom_notion_tag_base(@gray-light4);
      z-index: 101;
      bottom: @tag_offset - 1;
      left:135px;
    }

    &:after {
      .bottom_notion_tag_base(@gray-light6);
      z-index: 102;
      bottom: @tag_offset;
      left:135px;
    }
  }
}